<p>
   {{ $questionData->getQuestionByNumber($questionNumber) }}
</p>

<form method="post">

    <input type="hidden" name="questionNumber" value="{{ $questionNumber }}">

    <input type="hidden" name="serializedData" value="{{ $serializedData }}">

    <input type="text" name="answer">

    <br><br>

    <input type="submit"
           tpl-if="!$questionData->isLastQuestion($questionNumber)"
           name="nextButton" value="Järgmine">

    <input type="submit"
           tpl-if="$questionData->isLastQuestion($questionNumber)"
           name="finishButton" value="Lõpeta">


</form>
